{% load static %}
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, 30-day return or refund guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                        {% if request.user.is_authenticated %}
                            <a href="/customer/logout">Logout</a>
                        {% else %}
                            <a href="/customer/login">Login</a>  
                        {% endif %}
                            <a href="/customer/myorders">My Orders</a>  
                        </div>
                        <div class="header__top__hover">
                            <span>Usd <i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li>USD</li>
                                <li>EUR</li>
                                <li>USD</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="header__logo">
                    <a href="/customer/index"><img src="{% static 'customer/img/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li><a href="/customer/index">Home</a></li>
                        <li><a href="#">Category</a>
                            <ul class="dropdown">
                                {% for cat in category %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'product_list' cat.id %}">{{ cat.cat_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="/customer/register">Register</a></li>
                        <li><a href="/customer/contact">Contacts</a></li>
                        <li><form style="margin-left: 40px;position: absolute;margin-top: -20px;" id="search-form" action="#" method="GET">
                        <input type="text" id="search" name="search" placeholder="Search Product Name...">
                    </form></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    
                    <!-- <a href="#"><img src="{% static 'customer/img/icon/heart.png' %}" alt=""></a> -->
                    <a href="/customer/cart"><img src="{% static 'customer/img/icon/cart.png' %}" alt=""> <span>0</span></a>
                    <div class="price">$0.00</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
        <script src="{% static 'customer/js/jquery-3.3.1.min.js' %}"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(function() {
        $("#search").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "/customer/autocomplete/",
                    data: {
                        term: request.term
                    },
                    dataType: "json",
                    success: function(data) {
                        response($.map(data, function(item) {
                            return {
                                label: item.name,
                                value: item.url
                            };
                        }));
                    }
                });
            },
            select: function(event, ui) {
                window.location.href = ui.item.value;
            }
        });
    });
    </script>
</header>
