{% extends 'customer/layout.html' %}
{% block content %}
{% load static %}
            
{% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
     <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_tittle text-center">
                        <h4 >Login</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
<div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    
                    <h2 class="mb-5">Login</h2>
                </div>
                <div class="row g-4 justify-content-center">
            
                 
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <form method="post" action="/customer/login_check">
                                    {% csrf_token %}
                                <div class="row g-3">
                                
                                    
                                
                                    <div class="col-md-12 py-1">
                                            <label for="name">Username</label>

                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="username" name="username" placeholder="username">
                                        </div>
                                    </div>
                                  
                                    <div class="col-md-12 py-3">
                                            <label for="name">Password</label>

                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="col-6" style="margin-left: 150px;"  >
                                        <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
{% endblock %}