{% extends 'seller/common/layout.html' %}
{% block content %}
{% load static %}
 <div class="content-wrapper">
            <!-- <div class="page-header">
              <h3 class="page-title"> Basic Tables </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                </ol>
              </nav>
            </div> -->
            <div class="row">
              
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">All Product</h4>
                  <!--   <p class="card-description"> Add class <code>.table-striped</code>
                    </p> -->
                    <div class="table-responsive">
                      <table class="table table-striped">
              <thead>
              <tr>
                <th>id</th>
                <th>Category</th>
                <th>SubCategory</th>
                <th>Product name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Details</th>
                <th>Quantity</th>
                <th>Size</th>

                <th>Edit</th>
                <th>Delete</th>
                
              </tr>
              </thead>
              <tbody>
              {% for row in product %}
              <tr class="active">
                <td>{{row.id}}</td>
                <td>{{row.categories}}</td>
                <td>{{row.subcategories}}</td>
                <td>{{row.product_name}}</td>
                <td><img src="/images/upload/{{row.image}}" height="100" width="100"></td>
                <td>{{row.price}}</td>
                <td>{{row.details}}</td>
                <td>{{row.quantity}}</td>
                <td>{{row.size}}</td>



                <td>
                  <a href="/seller/edit_product/{{row.id}}"><button class="btn btn-success">Edit</button></a>
                </td>
                <td>
                  <a href="/seller/delete_product/{{row.id}}"><button class="btn btn-danger">Delete</button></a>
                </td>

                
              </tr>
              {% endfor %}
              </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              
              
            </div>
          </div> 
{% endblock %}