{% extends 'myadmin/common/layout.html' %}
{% block content %}
{% load static %}
 <div class="content-wrapper">
            <!-- <div class="page-header">
              <h3 class="page-title"> Basic Tables </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                </ol>
              </nav>
            </div> -->
            <div class="row">
              
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Inquiries</h4>
                  <!--   <p class="card-description"> Add class <code>.table-striped</code>
                    </p> -->
                    <div class="table-responsive">
                      <table class="table table-striped">
             <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Contact</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Message</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                        </thead>
                             <tbody>

                                            {% for row in result %}
                                            <tr class="active">
                                                <td>{{row.id}}</td>
                                                <td>{{row.name}}</td>
                                                <td>{{row.email}}</td>
                                                <td>{{row.contact}}</td>
                                                <td>{{row.date}}</td>
                                                <td>{{row.message}}</td>

                                        <!--  <td>
                                                    <a href="/myadmin/views/{{row.id}}"><button class="btn btn-success">Verify</button></a>
                                                </td> -->

                                                
                                                <td>
                                                    <a href="/customer/delete_contact/{{row.id}}"><button class="btn btn-danger">Delete</button></a>
                                                </td>

                                              

                                                
                                            </tr>
                                            {% endfor %}
                                        
                                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              
              
            </div>
          </div> 
{% endblock %}